<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexion2.Properties.Settings.pruebasistemaConnectionString"
            connectionString="Data Source=BARBAS-PC\SQLEXPRESS;Initial Catalog=pruebasistema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Conexion2.Properties.Settings.sistemadiaConnectionString"
            connectionString="Data Source=DESKTOP-3FQKM1M\SQLEXPRESS;Initial Catalog=sistemadia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>